src/main/mule/password-vault-sapi-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:google-drive="http://www.mulesoft.org/schema/mule/google-drive"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/google-drive http://www.mulesoft.org/schema/mule/google-drive/current/mule-google-drive.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="password-vault-sapiFlow" doc:id="df84e385-09c1-4f64-b690-e8bea1d400f5" >
		<http:listener doc:name="Listener" doc:id="53aa3168-9151-4d31-85b2-2fc1d04ce888" config-ref="HTTP_Listener_config" path="/rhydon/{jynx}"/>
		<google-drive:get-files-by-file-id doc:name="Get Files by File Id" doc:id="ee7bbcdd-3bae-4791-9bf2-217649a617bd" config-ref="Google_Drive_Connector_Config" fileId="1GrFoqVOoEOrMB3yc7w0Mfbbi_9vdhk1o" alt="MEDIA" />
		<ee:transform doc:name="Transform Message" doc:id="04e0ce3a-258c-4c1e-b019-bc4b236c2825">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="porygon"><![CDATA[%dw 2.0
output json
---
("${mule.home}/apps/${app.name}" ++ "/src/main/resources/resp.xlsx") replace "\\" with "/"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<file:write doc:name="Write" doc:id="25c7ad90-8495-4636-901f-a849130d16b7" path="#[vars.porygon]" />
		<ee:transform doc:name="Transform Message1" doc:id="a0bfb247-04d5-4ee6-9329-0ae25300cd48" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import roserade from java!com::greedent::houndstone::Scatterbug
output json
---
read(roserade(vars.porygon), "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet")]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
