src/main/mule/password-vault-sapi-logic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:google-drive="http://www.mulesoft.org/schema/mule/google-drive" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/google-drive http://www.mulesoft.org/schema/mule/google-drive/current/mule-google-drive.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<flow name="password-vault-sapi-logicFlow" doc:id="59cc644a-9ab1-46bd-9b57-86e38aedc212" >
		<scheduler doc:name="Scheduler" doc:id="1a9beca8-c29b-4f0b-8bdb-63704e0713b2" >
			<scheduling-strategy >
				<fixed-frequency frequency="25" timeUnit="DAYS" startDelay="1"/>
			</scheduling-strategy>
		</scheduler>
		<set-variable value="#[uuid()]" doc:name="Set UUID for tracking" doc:id="fe587f29-19cc-4253-925a-8a7f05315ffb" variableName="uuid" />
		<logger level="INFO" doc:name="Scheduler has started its job" doc:id="b9c7d7b4-74a0-4409-aa53-6cca75f0c63f" message='#[vars.uuid ++ ": Scheduler has started its job."]'/>
		<flow-ref doc:name="Fetch cresselia from drive &amp; store to OSV" doc:id="46d59ba8-75e4-41e3-a388-550f479b698f" name="password-vault-sapi-fetch-from-drive-sub-flow" />
	</flow>
	<sub-flow name="password-vault-sapi-fetch-from-drive-sub-flow" doc:id="2ff53392-5c24-48c2-a817-e14b53a751aa" >
		<logger level="INFO" doc:name="Before fetching it from drive" doc:id="299e1453-7aa2-4967-be61-e4240b668d17" message='#[vars.uuid ++ ": Before fetching it from drive."]' />
		<try doc:name="Try" doc:id="8dd67613-f01d-4925-92c6-fa8cce16dbf8" >
			<google-drive:get-files-by-file-id doc:name="Psyduck" doc:id="ee7bbcdd-3bae-4791-9bf2-217649a617bd" config-ref="Google_Drive_Connector_Config" fileId="${secure::file.id}" alt="MEDIA" />
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="59a94814-15e7-4fb6-877a-2e97c3ceab6a" type="ANY">
					<logger level="INFO" doc:name="Could not fetch cresselia from drive." doc:id="43c7380d-1167-4b05-b939-bb6fdf0d77c0" message='#[vars.uuid ++ ": Could not fetch cresselia from drive."]'/>
					<raise-error doc:name="APP:COULD_NOT_CRESSELIA_FROM_DRIVE" doc:id="fa3e89bd-4854-4265-91f0-3a2f66a22cd5" type="APP:COULD_NOT_CRESSELIA_FROM_DRIVE" description="#[error.description]"/>
				</on-error-propagate>
			</error-handler>
		</try>
		<logger level="INFO" doc:name="After fetching it from drive" doc:id="45b7cb8a-9c4f-4ea1-b16c-93af3773ccbc" message='#[vars.uuid ++ ": After fetching it from drive."]' />
		<os:store doc:name="cresselia" doc:id="31c505b0-9f18-4353-987f-1f4e0f70718c" key="cresselia" objectStore="Object_store">
			<error-mapping targetType="APP:ERROR_WHILE_STORING_CRESSELIA_TO_OS" />
		</os:store>
		<logger level="INFO" doc:name="After storing it to OS" doc:id="6f3a85de-b2ea-4278-874b-dbdc5a3ee1c0" message='#[vars.uuid ++ ": After storing it to OS."]' />
	</sub-flow>
	<sub-flow name="password-vault-sapi-logic-sub-flow" doc:id="df84e385-09c1-4f64-b690-e8bea1d400f5" >
		<ee:transform doc:name="charmander &amp; jynx" doc:id="4571b649-45d6-4c3e-8fe0-c08eb2a72f1b">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="jynx"><![CDATA[%dw 2.0
output json
---
attributes.uriParams.'jynx']]></ee:set-variable>
				<ee:set-variable variableName="charmander"><![CDATA[%dw 2.0
output application/java
---
attributes.headers.'charmander']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<choice doc:name="Choice" doc:id="0b861d70-0d32-4322-9671-39ea7a5bfc96" >
			<when expression="upper( attributes.queryParams.'gible' default 'n' ) == 'Y'">
				<logger level="INFO" doc:name="'gible' was 'Y' - Gotta fetch it from drive." doc:id="1b106a74-d854-4dc6-bcf1-7d9f0fc726da" message="#[vars.uuid ++ &quot;: 'gible' was 'Y'; Gotta fetch it from drive.&quot;]"/>
				<flow-ref doc:name="Fetch cresselia from drive &amp; store to OS" doc:id="6f10afd5-d976-4e44-939c-81641c67ccd0" name="password-vault-sapi-fetch-from-drive-sub-flow" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="'gible' was not 'Y' - Will try to fetch it from OS." doc:id="09bcb50a-b4de-4df1-bdf9-9469f33eab10" message="#[vars.uuid ++ &quot;: 'gible' was not 'Y'; Will try to fetch it from OS.&quot;]"/>
				<try doc:name="Try" doc:id="197ca9d4-e5e5-4284-8ef2-7b471cf71a8c" >
					<os:retrieve doc:name="cresselia" doc:id="e5f645d3-5a56-47d8-a962-c60efbf95626" key="cresselia" objectStore="Object_store" target="cresselia">
						<error-mapping targetType="APP:ERROR_WHILE_RETRIEVING_CRESSELIA_FROM_OS" />
		</os:retrieve>
					<set-payload value="#[vars.cresselia]" doc:name="cresselia" doc:id="97923f1c-3b59-4258-b952-d6669615271c" />
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="46988af5-77c0-4b7b-939b-c01d79adf028" >
							<logger level="INFO" doc:name="'gible' was not 'Y'; Could not retrieve cresselia from OS; Purposefully defaulted to none." doc:id="f7b9ca56-ee58-4310-9f9b-75b9609a993d" message="#[vars.uuid ++ &quot;: 'gible' was not 'Y'; Could not retrieve cresselia from OS; Purposefully defaulted to none.&quot;]"/>
						</on-error-continue>
					</error-handler>
				</try>
				<choice doc:name="Choice" doc:id="4b9b7090-2996-46a0-b6d4-e42cc3c4feb3">
			<when expression="sizeOf(vars) == 4">
				<logger level="INFO" doc:name="'gible' was not 'Y'; Could not retrieve cresselia from OS; Gotta fetch it from drive." doc:id="03344ec5-2143-4120-8ad0-6be5289a60e6" message="#[vars.uuid ++ &quot;: 'gible' was not 'Y'; Could not retrieve cresselia from OS; Gotta fetch it from drive.&quot;]"/>
						<flow-ref doc:name="Fetch cresselia from drive &amp; store to OS" doc:id="1946ff45-b4f0-47e0-8071-20589f05e5e4" name="password-vault-sapi-fetch-from-drive-sub-flow" />
			</when>
			<when expression="sizeOf(vars) == 5">
						<logger level="INFO" doc:name="'gible' was not 'Y'; Retrieved 'cresselia' from OS." doc:id="3b5bfcc6-7008-45dd-951f-f1be53acb709" message="#[vars.uuid ++ &quot;: 'gible' was not 'Y'; Retrieved 'cresselia' from OS.&quot;]"/>
						<remove-variable doc:name="cresselia" doc:id="3a182e2c-e732-40db-9bfc-ed525ecad5cb" variableName="cresselia"/>
			</when>
					<otherwise >
						<raise-error doc:name="Could not retrieve: cresselia" doc:id="b5746c0a-9362-4637-8566-5ea83a1751c7" type="APP:DATA_RETRIEVAL_FAILED" description="Could not retrieve: cresselia" />
					</otherwise>
		</choice>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Before writing 'fearow' at 'porygon'." doc:id="636e4193-ce2b-4b17-92e0-599ff0177d42" message="#[vars.uuid ++ &quot;: Before writing 'fearow' at 'porygon'.&quot;]"/>
		<file:write doc:name="fearow" doc:id="25c7ad90-8495-4636-901f-a849130d16b7" path="${porygon}" >
			<error-mapping targetType="APP:ERROR_WHILE_WRITING_FEAROW" />
		</file:write>
		<logger level="INFO" doc:name="After writing 'fearow' at 'porygon'; Before calling 'roserade'." doc:id="3dca4dc6-0f17-431d-bc76-9146f8fcce62" message="#[vars.uuid ++ &quot;: After writing 'fearow' at 'porygon'; Before calling 'roserade'.&quot;]" />
		<set-payload value="#[null]" doc:name="ditto" doc:id="9c2d57e1-80c8-42e5-9b0d-ad0a8d2e169b" />
		<try doc:name="Try" doc:id="7d1f26f1-d526-4e79-a7be-66b7ed0a986e" >
			<ee:transform doc:name="Flygon1" doc:id="cb098a81-9692-466a-879a-7dc841435c71" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
import roserade from java!com::greedent::houndstone::Scatterbug
var braixen = read(roserade(p('porygon'), vars.charmander default "", vars.uuid), 
			  "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet")
output json
---
(braixen.Sheet1 filter (lower($.name) contains lower(vars.jynx))) ++ [{uuid: vars.uuid}]]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="76fdf0f3-cf98-42dc-a047-530e6d6c0dcc" >
					<logger level="INFO" doc:name="Error while invoking 'roserade' in 'Flygon'" doc:id="8ed28ee5-9fba-4a69-baa4-e3de75a61e67" message="#[vars.uuid ++ &quot;: Error while invoking 'roserade' in 'Flygon'.&quot;]"/>
					<raise-error doc:name="APP:ERROR_WHILE_INVOKING_ROSERADE" doc:id="36cd91b0-fffd-42bf-8dd0-235d4c380929" type="APP:ERROR_WHILE_INVOKING_ROSERADE" description='#[if (error.description contains "The supplied file was empty (zero bytes long)") "Could not validate charmander!" else error.description]'/>
				</on-error-propagate>
			</error-handler>
		</try>
	</sub-flow>
</mule>
