src/main/mule/password-vault-sapi-logic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:google-drive="http://www.mulesoft.org/schema/mule/google-drive" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/google-drive http://www.mulesoft.org/schema/mule/google-drive/current/mule-google-drive.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<flow name="password-vault-sapi-logicFlow" doc:id="59cc644a-9ab1-46bd-9b57-86e38aedc212" >
		<scheduler doc:name="Scheduler" doc:id="1a9beca8-c29b-4f0b-8bdb-63704e0713b2" >
			<scheduling-strategy >
				<fixed-frequency frequency="25" timeUnit="DAYS"/>
			</scheduling-strategy>
		</scheduler>
		<flow-ref doc:name="Fetch cresselia from drive &amp; store to OSV" doc:id="46d59ba8-75e4-41e3-a388-550f479b698f" name="password-vault-sapi-fetch-from-drive-sub-flow" />
	</flow>
	<sub-flow name="password-vault-sapi-fetch-from-drive-sub-flow" doc:id="2ff53392-5c24-48c2-a817-e14b53a751aa" >
		<google-drive:get-files-by-file-id doc:name="Psyduck" doc:id="ee7bbcdd-3bae-4791-9bf2-217649a617bd" config-ref="Google_Drive_Connector_Config" fileId="${secure::file.id}" alt="MEDIA" />
		<os:store doc:name="Store" doc:id="31c505b0-9f18-4353-987f-1f4e0f70718c" key="cresselia" objectStore="Object_store"/>
	</sub-flow>
	<sub-flow name="password-vault-sapi-logic-sub-flow" doc:id="df84e385-09c1-4f64-b690-e8bea1d400f5" >
		<ee:transform doc:name="charmander &amp; jynx" doc:id="4571b649-45d6-4c3e-8fe0-c08eb2a72f1b">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="jynx"><![CDATA[%dw 2.0
output json
---
attributes.uriParams.'jynx']]></ee:set-variable>
				<ee:set-variable variableName="charmander"><![CDATA[%dw 2.0
output application/java
---
attributes.headers.'charmander']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<choice doc:name="Choice" doc:id="0b861d70-0d32-4322-9671-39ea7a5bfc96" >
			<when expression="upper( attributes.queryParams.'gible' default 'n' ) == 'Y'">
				<flow-ref doc:name="Fetch cresselia from drive &amp; store to OSV" doc:id="6f10afd5-d976-4e44-939c-81641c67ccd0" name="password-vault-sapi-fetch-from-drive-sub-flow" />
			</when>
			<otherwise >
				<try doc:name="Try" doc:id="197ca9d4-e5e5-4284-8ef2-7b471cf71a8c" >
					<os:retrieve doc:name="cresselia" doc:id="e5f645d3-5a56-47d8-a962-c60efbf95626" key="cresselia" objectStore="Object_store" target="cresselia">
		</os:retrieve>
					<set-payload value="#[vars.cresselia]" doc:name="cresselia" doc:id="97923f1c-3b59-4258-b952-d6669615271c" />
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="46988af5-77c0-4b7b-939b-c01d79adf028" >
							<logger level="INFO" doc:name="Could not retrieve cresselia; didn't default the output to anything purposefully." doc:id="f7b9ca56-ee58-4310-9f9b-75b9609a993d" message="Could not retrieve cresselia; didn't default the output to anything purposefully."/>
						</on-error-continue>
					</error-handler>
				</try>
				<choice doc:name="Choice" doc:id="4b9b7090-2996-46a0-b6d4-e42cc3c4feb3">
			<when expression="sizeOf(vars) == 3">
				<flow-ref doc:name="Fetch cresselia from drive &amp; store to OSV2" doc:id="1946ff45-b4f0-47e0-8071-20589f05e5e4" name="password-vault-sapi-fetch-from-drive-sub-flow" />
			</when>
			<when expression="sizeOf(vars) == 4">
						<remove-variable doc:name="cresselia" doc:id="3a182e2c-e732-40db-9bfc-ed525ecad5cb" variableName="cresselia"/>
			</when>
					<otherwise >
						<raise-error doc:name="Could not retrieve: cresselia" doc:id="b5746c0a-9362-4637-8566-5ea83a1751c7" type="APP:DATA_RETRIEVAL_FAILED" description="Could not retrieve: cresselia" />
					</otherwise>
		</choice>
			</otherwise>
		</choice>
		<file:write doc:name="Murkrow" doc:id="25c7ad90-8495-4636-901f-a849130d16b7" path="${porygon}" />
		<set-payload value="#[null]" doc:name="ditto" doc:id="9c2d57e1-80c8-42e5-9b0d-ad0a8d2e169b" />
		<ee:transform doc:name="Flygon" doc:id="a0bfb247-04d5-4ee6-9329-0ae25300cd48">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
import roserade from java!com::greedent::houndstone::Scatterbug
var braixen = read(roserade(p('porygon'), vars.charmander default ""), 
			  "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet")
output json
---
braixen.Sheet1 filter (lower($.name) contains lower(vars.jynx))]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
</mule>
