src/main/mule/router.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="password-vault-sapi-main">
        <http:listener config-ref="HTTP_Listener_config" path="${listener.path}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[( vars.outboundHeaders ++ { "Access-Control-Allow-Origin": "*" } ) default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[( vars.outboundHeaders ++ { "Access-Control-Allow-Origin": "*" } ) default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <set-variable value="#[uuid()]" doc:name="Set UUID for tracking" doc:id="05fce0f9-eade-4b5c-b170-f921d80bd93a" variableName="uuid"/>
		<apikit:router config-ref="password-vault-sapi-config" />
    </flow>
    <flow name="get:\pvs\(jynx):password-vault-sapi-config">
        <logger level="INFO" doc:name="Before invoking password-vault-sapi-logic-sub-flow" doc:id="939c31d4-16fa-45b6-b72f-af365fd059f8" message='#[vars.uuid ++ ": Before invoking password-vault-sapi-logic-sub-flow."]' />
		<flow-ref doc:name="Invoke password-vault-sapi-logic-sub-flow" doc:id="71697248-698a-4302-936a-7f787ad441c7" name="password-vault-sapi-logic-sub-flow" />
    </flow>
</mule>
